<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC0U4V6PqwTedphNWIbk0_YDs2Sa-8kkpk</string>
	<key>GCM_SENDER_ID</key>
	<string>386288678531</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mostafasandeed.MyLibrary.MyLibrary</string>
	<key>PROJECT_ID</key>
	<string>mylibrary-b301f</string>
	<key>STORAGE_BUCKET</key>
	<string>mylibrary-b301f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:386288678531:ios:3e666839257a3352b64db6</string>
</dict>
</plist>